.body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: inline;
    text-align: center;

}

.title {
    margin-bottom: 20px;
    font-size: 25px;
}

.search {
    display: flex;
    margin-bottom:20px;
    justify-content: center;
}

.search input {
    border: 1px solid green;
    border-radius: 15px;
    width: 20%;
    padding: 8px;
}

.button {
    border-radius: 15px;
    background-color: bisque;
    padding: 8px;
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
}

.card-container {
    display: grid;
    place-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
}
.card img {
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    display: grid;
}

.card ul li{
    list-style: none;
} 

.card ul li a{
    text-decoration: none;
    color: black;
}