@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

}

.container {
    display: grid;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}


.navbar ul {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin-left: 20px;
} 

.navbar ul li:hover {
    border: 1px solid #ee6c4d ;
    border-radius: 10px;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.navbar img {
    width: 45px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    
}

.navbar img:hover {
    cursor: pointer;
}

.presentation {
    width: 100%;
    height: 200px;
    background-color: #ee6c4d;
    text-align: center;
}

.title {
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.main-container {
    display: inline;
    text-align: center;
    background-color: #253031 ;
}

.card-container {
    display: grid;
    place-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 450px);
    padding: 30px;
}

.card {
    width: 450px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(60, 62, 68);
    display: grid;
    grid-template-columns: auto 1fr;
    color: white;
}

.card img {
    width: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    margin: 0;
    padding: 0;
}

.box2 span{
    font-size: 14px;
    text-align: start;
}

.box2 {
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}

.box2 span:nth-child(1) {
    font-weight: bold;
    font-size: 23px;  
}

.box2 span:nth-child(1):hover {
    color: #ee6c4d;
}

.box2 div span:nth-child(2) {
    margin-left: 10px;
}

.circle {
    height: 10px;
    width: 10px;
    
    border-radius: 50%;
}

.alive {
    background-color: rgb(85, 204, 68);
}

.dead {
    background-color: rgb(228, 39, 32);
}

.unknown {
    background-color: rgb(255, 195, 85);
}

.box2 div {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.page{
    list-style: none;
    width: 12px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    color: #253031;
    text-decoration: none;
}

.page:hover {
    background-color: #ee6c4d;
    color: white;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #ee6c4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumen span{
    color: white;
    font-size: 18px;
    margin-left: 5px;
}

.resumen span:hover {
    color: rgb(60, 62, 68);
    cursor: pointer;
}
