@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.main-container {
    display: inline;
    text-align: center;
}

.navbar {
    position: relative;
}

.title {
    font-size: 60px;
    color: black;
    font-weight: bold;
}

.search {
    display: flex;
    margin-bottom:20px;
    justify-content: center;
}

.white {
    width: 100%;
    height: 200px;
    background-color: white;
    text-align: center;
}

.card-container {
    display: grid;
    place-content: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, 400px);
    background-color:rgb(36, 40, 47);
}

.card {
    margin-top: 50px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(60, 62, 68);
    display: grid;
    grid-template-columns: auto 1fr;
    color: white;
}

.card img {
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.card p {
    display: grid;
}

.card ul li{
    list-style: none;
} 

.card ul li a{
    text-decoration: none;
    color: black;
}

.card span {
    font-size: 12px;
}

.card span:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}